Source: oxyos-ui-theme
Section: x11
Priority: extra
Maintainer: OxyHQ <admin@oxy.so>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://os.oxy.so

Package: oxyos-ui-theme
Architecture: all
Depends: ${misc:Depends}, gtk2-engines-murrine
Description: default theme for OxyOS
 Default GTK+ and Openbox themes for OxyOS.
